biome_project/data/Tswrfdaymean1961_1990.csv
biome_project/data/Predaymean1961_1990.csv
biome_project/data/Tmaxdaymean1961_1990.csv
biome_project/data/Tmindaymean1961_1990.csv
biome_project/data/Tmpdaymean1961_1990.csv
.DS_Store
.ipynb_checkpoints/
